.custom-shape-divider-top-1601556633 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1601556633 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 500px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1601556633 .shape-fill {
    fill: #D3EAF0;
}
