.custom-shape-divider-top-1601571914 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.svg {
    position: relative;
    display: block;
    width: calc(259% + 1.3px);
    height: 700px;
    transform: rotateY(180deg);
}

.style1 {
  stop-color:#f2fcfe;
  stop-opacity:0.8;
}

.style2 {
  stop-color:#1c92d2;
  stop-opacity:0.7
}
/* linear-gradient(to right, #1c92d2, #f2fcfe); */

ul {
  list-style-type: none;
}

ul li {
    margin: 0;
    margin-bottom: 2em;
    position: relative;
    line-height: 2.0;
}

ul li::after {
  content: '';
  height: 1em;
  width: 1em;
  /* background: #bf6f72; */
  background: #2f2b4f;
  display: block;
  position: absolute;
  margin-top: 0.5em;
  margin-left: -2em;
  transform: rotate(45deg);
  top: .25em;
  left: 0;
}

.card {
  /* box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12); */
  box-shadow: 0 2px 10px 0 rgba(23,70,161,.11);
  overflow: hidden;
  border-radius: 4px;
  background-color: #FFFFFF;
  border: none;
  /* transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; */
  /* transition: box-shadow .5s ease,transform .25s ease-in,transform .25s ease-out,-webkit-transform .25s ease; */
  /* transition: box-shadow 1s ease-in-out,transform 1s ease-in-out,-webkit-transform 1s ease-in-out; */
  transition: box-shadow .25s ease-in,transform .25s ease-in,-webkit-transform .25s ease-in;
}

.card:hover {
  /* box-shadow: 10px 12px 20px 10 #787878; */
  /* background-color: #000; */
  /* box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12); */
  /* transition: box-shadow .5s ease,transform .25s ease-in,-webkit-transform .25s ease; */
  /* transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; */
  transform: translate3d(0,-5px,0);
  box-shadow: 0 1.5rem 2.5rem rgba(22,28,45,.1),0 .3rem 0.5rem -.50rem rgba(22,28,45,.05) !important;
  transition: box-shadow .25s ease-in-out,transform .25s ease-in-out,-webkit-transform .25s ease-in-out;
}
