.a {
  color: #027e97;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.a:hover {
  color: #2f2b4f;
  cursor: pointer;
  text-decoration: none;
}
