.custom-shape-divider-bottom-1601099806 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1601099806 svg {
    position: relative;
    display: block;
    width: calc(140% + 1.3px);
    height: 120px;
}

.custom-shape-divider-bottom-1601099806 .shape-fill {
    fill: #317e96af;
}
