.custom-shape-divider-top-1601990885 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1601990885 svg {
    position: relative;
    display: block;
    width: calc(272% + 1.3px);
    height: 932px;
}
